

$color-background: #e5e5e5;
$color-background-secondary: #ccc;
$color-background-dark: #888;
$color-product-card: #fff;
$color-text: #666;
$color-text-strong: #444;
$color-text-feature: #7a7a7a;
$color-text-muted: #aaa;


$product-margin: 20px;
$down-to-gallery-x-scale: 2.0;
$hover-scale: 2.3;