/* You can add global styles to this file, and also import other style files */

@import './variables';

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
    background: $color-background;
    overflow-x: hidden;
}

app-header {
    height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
    text-align: center;
    flex-flow: column;
	color: #fff;
}

app-gallery {
    padding-top: 10px;
    border-radius: 15px;
    display: block;
}

app-product {
    display: inline-block;
    margin: 0 $product-margin ($product-margin * 2);
    border-radius: 10px;
    width: 275px;
}

app-footer {
    display: inline-block;
}

.page-router {
    color: rgba(#fff, 0.6);
    user-select: none;
    transition: transform 300ms, color 250ms, background-color 250ms;
    display: inline-block;
}

@media(min-width: 1001px) {
    
    app-gallery {
        margin-top: 10vw;
        margin-bottom: 50px;
    }

    app-product {
        margin: 0 $product-margin ($product-margin * 2);
    }
    
    .page-router {
        font-size: 1.9vw;
    }
}

@media(min-width: 601px) and (max-width: 1000px) {
    

    app-gallery {
        background: rgba($color-background, 0.65);
        width: 85vw;
        margin: 34vw auto 7.5vw;
        padding-top: 50px;
    }

    app-product {
        margin: 0 auto ($product-margin * 2);
        display: block;
    }
    
    .page-router {
        font-size: 30px;
    }
}

@media(max-width: 600px) {
    
    app-gallery {
        background: rgba($color-background, 0.65);
        width: 92vw;
        margin: 34vw auto 2vw;
    }

    app-product {
        display: block;
        margin: 0 auto ($product-margin * 2);
    }
    
    .page-router {
        font-size: 30px;
    }
}