/* You can add global styles to this file, and also import other style files */
* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

app-header,
app-gallery {
    display: block;
}

app-header {
    background: rgba(#111, 0.4);
    padding: 4vw 0;
    width: 40%;
    margin: 7.5vw auto 4.25vw;
    border: 0.2vw solid rgba(#fff, 0.85);
    border-radius: 25px;
}

app-gallery {
    margin-top: 10vw;
}