

# general

.byebug_history
.DS_Store
.env

# front-end

/front-end/node_modules/*


# back-end

/back-end/node_modules/*
/back-end/log/*
/back-end/tmp/*
/back-end/storage/*

/back-end/public/assets
/back-end/public/packs
/back-end/public/packs-test

/back-end/yarn-error.log
/back-end/yarn-debug.log*
/back-end/.yarn-integrity

/back-end/config/master.key
