$color-background: #222;
$color-text: #eee;
$color-text-negative: #333;
$color-link: rgb(212, 212, 252);
$color-contrast: #333;
$color-negative: #e4e4e4;
$color-border: $color-text;
$color-negative-contrast: #bbb;