
@import '../styles/variables';

$down-to-gallery-x-scale: 2.0;
$hover-scale: 2.3;

.backing {
    left: 0;
    top: 0;
    position: absolute;
    width: 100vw;
    height: 58.5vw;
    display: block;
    z-index: -3;
    background: #555;
}

.backing video {
    width: 100%;
    z-index: -2;
}

.backing-gradient {
    left: 0;
    top: 0;
    width: 100%;
    z-index: -1;
}

.down-to-gallery {
    display: inline-block;
    color: rgba(#fff, 0.6);
    transform: scaleX($down-to-gallery-x-scale);
    user-select: none;
    transition: transform 300ms, color 250ms;
}

.down-to-gallery:hover {
    transform: scale($down-to-gallery-x-scale * $hover-scale, 1.4);
    color: rgba(#fff, 0.15);
}

@media(min-width: 1001px) {
    
    .backing-gradient {
        background: linear-gradient(rgba($color-background, 0) 55%, rgba($color-background, 1) 55%), rgba($color-background, 0.2);
        height: 58.5vw;
        position: absolute;
    }

    .backing video {
        filter: blur(12px);
    }

    .down-to-gallery {
        font-size: 1.9vw;
    }
}

@media(max-width: 1000px) {
    
    .backing-gradient {
        background: linear-gradient(rgba($color-background, 0) 80%, rgba($color-background, 1) 80%), rgba($color-background, 0.2);
        height: 100vw;
    }

    .backing video {
        filter: blur(6px);
    }

    .backing video,
    .backing,
    .backing-gradient {
        position: fixed;
        top: 0;
        left: -15%;
        transform: scale(1.6);
    }

    
    .down-to-gallery {
        font-size: 30px;
    }
}